---
import PrimaryLayout from "@/layouts/primary-layout.astro";
---

<PrimaryLayout>
  <div class="flex gap-2 my-2">
    <div class="transform origin-bottom-right animate-wave text-2xl w-min">
      👋
    </div>
    <span class="text-2xl font-medium"> Hey! I&apos;m Gilbert,</span>
  </div>
  <p class="text-lg leading-8">
    a high school student and self-taught software developer. I&apos;m
    interested in <span class="underline underline-offset-4">system design</span
    >, <span class="underline underline-offset-4">web development</span>, and <span
      class="underline underline-offset-4">machine learning</span
    >. I love exploring new technologies and building random doodads in my free
    time.
  </p>
</PrimaryLayout>
