---
import PrimaryLayout from "@/layouts/primary-layout.astro";
---

<PrimaryLayout>
  <p class="text-lg leading-8">
    <span class="text-2xl">Hi, I&apos;m Gilbert,</span>
    <br /> a high school student and self-taught software developer. I&apos;m interested
    in <span class="underline underline-offset-4">system design</span>, <span
      class="underline underline-offset-4">web development</span
    >, and <span class="underline underline-offset-4">machine learning</span>. I
    love exploring new technologies and building random doodads in my free time.
  </p>
</PrimaryLayout>
