---
import NameTypewriter from "./name-typewriter.astro";
---

<header class="flex border-b mb-4 pb-4">
  <div>
    <NameTypewriter />
    <p class="text-muted-foreground">Software Engineer · High School Student</p>
  </div>

  <div class="ml-auto text-muted-foreground">
    <a
      href="mailto:mail@example.com"
      class="underline underline-offset-4"
      target="_blank"
      rel="noopener noreferrer">mail@example.com</a
    >
  </div>
</header>
