---
const links = [
  {
    name: "Home",
    href: "/",
    matcher: (url: string) => url === "/",
  },
  {
    name: "Projects",
    href: "/projects",
    matcher: (url: string) => url.startsWith("/projects"),
  },
  {
    name: "Blog",
    href: "/blog",
    matcher: (url: string) => url.startsWith("/blog"),
  },
] as const;
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="flex gap-4 mb-3">
  {
    links.map(({ href, name, matcher }) => (
      <a
        href={href}
        class:list={[
          "text-lg hover:text-foreground hover:underline",
          matcher(pathname) ? "text-foreground" : "text-muted-foreground",
        ]}
        rel="preload"
        aria-current={matcher(pathname) ? "page" : undefined}
      >
        {name}
      </a>
    ))
  }
</nav>
