---
import "@/styles/global.css";
import "@fontsource-variable/inter";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import Header from "@/components/header.astro";
import Navigation from "@/components/navigation.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
  </head>
  <body class="dark flex justify-center">
    <script>
      import flamethrower from "flamethrower-router";

      export const router = flamethrower({
        pageTransitions: true,
        prefetch: "visible",
      });
    </script>
    <main class="w-[52rem] mx-6 my-12">
      <Header />
      <slot />
    </main>
  </body>
</html>
